<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

    <head>
        <title>BYOD Bring Your Own Device Asset Tracker</title>
        <meta name="description" content="free website template" />
        <meta name="keywords" content="enter your keywords here" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <link rel="stylesheet" type="text/css" href="/BYOD/faces/resources/css/style.css" />
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/image_slide.js"></script>

        <script type="text/javascript">
            function updateTextInput(val, text) {
                document.getElementById(text).innerHTML = val + "%";
            }
        </script>

    </head>

    <body>
        <div id="main">
            <div id="header">
                <div id="banner">
                    <div id="welcome">
                        <h1><a href = "/BYOD/faces/view/index.html">BYOD</a></h1>
                        <h2>Bring Your Own Device Asset Tracker</h2>
                    </div><!--close welcome-->
                    <div id="menubar">
                        <ul id="menu">
                            <li class="current"><a href="/BYOD/faces/view/index.html">Home</a></li>
                            <li><a href="/BYOD/faces/view/settings.html">Settings</a></li>
                            <li><a href="/BYOD/faces/view/devices.html">Devices</a></li>
                            <li><a href="/BYOD/faces/view/users.html">Users</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div><!--close menubar-->
                </div><!--close banner-->
            </div><!--close header-->

            <div id="site_content">
                <h4>Add Blacklisted App</h4>

                <div class="blockH">
                    <h5>New Blacklisted Application</h5>
                </div>
                <div class="blockH">
                    <table class = "edit">
                        <tr>
                            <td>Name</td>
                            <td><input id = "appName" type = "text"></td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td><input id = "appType" type = "text"></td>
                        </tr>
                        <tr>
                            <td>Catagory</td>
                            <td><input id = "appType" type = "text"></td>
                        </tr>
                    </table>
                    <div class="more2">
                        <a href="#">Add Blacklisted Application</a>
                    </div>
                </div>

            </div><!--close site_content-->
            <div id="content_grey">
                <div class="content_grey_container_box">
                    <p> Website by Lux in Tenebris student group from the <a href = "https://www.up.ac.za">Univercity of Pretoria</a>.
                        Supported by <a href = "https://www.mwrinfosecurity.com">MWR InfoSecurity</a>.</p>
                </div><!--close content_grey_container_box-->
            </div><!--close content_grey-->

        </div><!--close main-->

    </body>
</html>
