<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>BYOD Bring Your Own Device Asset Tracker</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/image_slide.js"></script>
</head>

<body>
  <div id="main">
    <div id="header">
	<div id="banner">
		<div id="welcome">
		      <h1>BYOD</h1>
		      <h2>Bring Your Own Device Asset Tracker</h2>
		</div><!--close welcome-->
		<div id="menubar">
		  <ul id="menu">
		    <li class="current"><a href="index.html">Home</a></li>
		    <li><a href="settings.html">Settings</a></li>
		    <li><a href="devices.html">Devices</a></li>
		    <li><a href="users.html">Users</a></li>
		    <li><a href="#">Logout</a></li>
		  </ul>
		</div><!--close menubar-->	  
	</div><!--close banner-->	
    </div><!--close header-->	
    
<div id="site_content">	
	  <div class="register">
	    <h3>Register Device</h3>
		<p>Register a device by entering the employee's ID or username:</p>
		<input class ="val" type = "text" id = "regName"></input>
		<input type = "submit" id = "regNameB" value = "Check"></input>
		</br></br>
		<span id = "token">54fssf</span>
		<div class="more">
		  <a href="#">Register Device</a>
		</div><!--close more-->      
	  </div><!--close ourwork-->
	  <div class="fix">
	    <h3>Fix Device</h3>
		
		<p>Entering the employee's ID, username or cell number:</p>
		<input class ="val" type = "text" id = "fixVal"></input>
		<input type = "submit" id = "fixValB" value = "Check"></input>
		</br></br>
		<span id = "valid">Valid!</span>
		
		<div class="more">
		  <a href="device.html">Fix!</a>
		</div>
	  </div>	  
	  <div class="projects">
	    <h3>Projects</h3>
		<p></p>	  
		<div class="more">
		  <a href="#">Read more</a>
		</div><!--close more-->        
	  </div><!--close projects-->

	<div id="content">
		<div class="content_item">
		  	  <div class="blockH2">
				<h5>Registration Queue</h5>
			  </div>
			  
			  <div class="blockH2">
				<table class = "listL">
				<tr class = "listLH">
					<td><a>ID</a></td>
					<td><a>Model</a></td>
					<td>Number</td>
					<td>Remove</td>
					<td>Register</td>
				</tr>
				<tr>
					<td><a>21232134345345</a></td>
					<td>Samsung Xperia J</td>
					<td>0834769847</td>
					<td><a>Remove</a></td>
					<td><a>Register</a></td>
				</tr>
				</table>
			  </div>
		</div><!--close content_item-->
		
		<div class="content_item">
		  	  <div class="blockH2">
				<h5>Registered Devices</h5>
			  </div>
			  
			  <div class="blockH2">
				<table class = "listL">
				<tr class = "listLH">
					<td><a>ID</a></td>
					<td><a>Model</a></td>
					<td>Number</td>
					<td>Remove</td>
					<td>Deregister</td>
				</tr>
				<tr>
					<td><a>21232134345345</a></td>
					<td>Samsung Xperia J</td>
					<td>0834769847</td>
					<td><a>Remove</a></td>
					<td><a>Deregister</a></td>
				</tr>
				</table>
			  </div>
		</div><!--close content_item-->
      </div><!--close content-->

</div><!--close site_content--> 
<div id="content_grey">
	<div class="content_grey_container_box">
		<p> Website by Lux in Tenebris student group from the <a href = "https://www.up.ac.za">Univercity of Pretoria</a>.
		Supported by <a href = "https://www.mwrinfosecurity.com">MWR InfoSecurity</a>.</p>
	</div><!--close content_grey_container_box-->
</div><!--close content_grey-->   
 
</div><!--close main-->
  
</body>
</html>
