<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>BYOD Bring Your Own Device Asset Tracker</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/image_slide.js"></script>
</head>

<body>
  <div id="main">
    <div id="header">
	<div id="banner">
		<div id="welcome">
		      <h1><a href = "page/index.html">BYOD</a></h1>
		      <h2>Bring Your Own Device Asset Tracker</h2>
		</div><!--close welcome-->
		<div id="menubar">
		  <ul id="menu">
		    <li class="current"><a href="index.html">Home</a></li>
		    <li><a href="settings.html">Settings</a></li>
		    <li><a href="devices.html">Devices</a></li>
		    <li><a href="users.html">Users</a></li>
		    <li><a href="#">Logout</a></li>
		  </ul>
		</div><!--close menubar-->	  
	</div><!--close banner-->	
    </div><!--close header-->	
    
<div id="site_content">	
	  <div class="register">
	    <h3>Register Device</h3>
		<p>Register a device by entering the employee's ID or username:</p>
		<input class ="val" type = "text" id = "regName"></input>
		<input type = "submit" id = "regNameB" value = "Check"></input>
		</br></br></br>
		<span id = "token">54fssf</span>
		<div class="more">
		  <a href="#">Register Device</a>
		</div><!--close more-->      
	  </div><!--close ourwork-->
	  <div class="fix">
	    <h3>Fix Device</h3>
				
		<p>Entering the employee's ID, username or cell number:</p>
		<input class ="val" type = "text" id = "fixUser"></input>
		<input type = "submit" id = "fixUserB" value = "Check"></input>
		</br>
		<input class ="val" type = "text" id = "fixDev"></input>
		<input type = "submit" id = "fixDevB" value = "Check"></input>
		</br>
		<span id = "valid">Valid!</span>
		
		<div class="more">
		  <a href="device.html">Fix!</a>
		</div><!--close more-->        
	  </div><!--close testimonials-->	  
	  <div class="projects">
	    <h3>Projects</h3>
		<p></p>
		<div class="more">
		  <a href="#">Read more</a>
		</div><!--close more-->        
	  </div><!--close projects-->		 
	 
	  <div id="content">
		<div class="content_item">
		  </br><h5>Current System Statisticts</h5> </br>
		  <div class="usage">
		    <h3>Usage Statistics</h3>
			<div class = "val">
			<table>
			<tr><td>Registered Devices: </td> <td><span id="numReg" > 2500</span></td></tr>
			<tr><td>Registered Queue: </td> <td><span id="numQueue" > 150</span></td></tr>
			<tr><td>Access Allowed: </td> <td><span id="numAllowed"> 350 </span></td></tr>
			<tr><td>Access Denied: </td> <td><span id="numDenied" > 29 </span></td></tr>
			</table>
			</div>
		  </div>
		  <div class="config">
		    <h3>System Configuration</h3>
			<div class = "val">
			<table>
			<tr><td>Anit-Virus Scan Interval: </td> <td><span id="antiV" > 23h  59m 59s</span></td></tr>
			<tr><td>Registered Queue: </td> <td><span id="numQueue" > 150</span></td></tr>
			<tr><td>Access Allowed: </td> <td><span id="numAllowed"> 350 </span></td></tr>
			<tr><td>Access Denied: </td> <td><span id="numDenied" > 29 </span></td></tr>
			</table>
			</div>
		  </div>
		</div><!--close content_item-->
      </div><!--close content--> 
</div><!--close site_content--> 
<div id="content_grey">
	<div class="content_grey_container_box">
		<p> Website by Lux in Tenebris student group from the <a href = "https://www.up.ac.za">University of Pretoria</a>.
		Supported by <a href = "https://www.mwrinfosecurity.com">MWR InfoSecurity</a>.</p>
	</div><!--close content_grey_container_box-->
</div><!--close content_grey-->   
 
</div><!--close main-->
  
</body>
</html>
