<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>BYOD Bring Your Own Device Asset Tracker</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/image_slide.js"></script>
  
    <script type="text/javascript">
    function updateTextInput(val,text) {
      document.getElementById(text).innerHTML=val + "%"; 
    }
  </script>
  
</head>

<body>
  <div id="main">
    <div id="header">
	<div id="banner">
		<div id="welcome">
		      <h1>BYOD</h1>
		      <h2>Bring Your Own Device Asset Tracker</h2>
		</div><!--close welcome-->
		<div id="menubar">
		  <ul id="menu">
		    <li class="current"><a href="index.html">Home</a></li>
		    <li><a href="settings.html">Settings</a></li>
		    <li><a href="devices.html">Devices</a></li>
		    <li><a href="users.html">Users</a></li>
		    <li><a href="#">Logout</a></li>
		  </ul>
		</div><!--close menubar-->	  
	</div><!--close banner-->	
    </div><!--close header-->	
    
<div id="site_content">
	<h4>Settings</h4>
	<div class="blockHS">
		<table id = "shortcut">
		<tr>
			<td><a>Blacklisted Applications</a></td>
			<td><a>Weigthed System</a></td>
			<td><a>Scan Settings</a></td>
		</tr>
		</table>
	</div>
	  
	  <div class="blockH">
		<h5>Blacklisted Applications</h5>
	  </div>
	  <div class="blockH">
		<table class = "listD">
		<tr class = "listDH">
			<td><a>Name</a></td>
			<td><a>Date Added</a></td>
			<td>Remove</td>
		</tr>
		<tr>
			<td><a>Facebook</a></td>
			<td>09/09/2013</td>
			<td><a>Remove</a></td>
		</tr>
		<tr>
			<td><a>Facebook</a></td>
			<td>09/09/2013</td>
			<td><a>Remove</a></td>
		</tr>
		</table>		
		<div class="more2">
		  <a href="#">Add Blacklisted Application</a>
		</div>     
	  </div>
	  
	  <div class="blockH">
		<h5>Weighted System</h5>    
	  </div>
	  
	  <div class="blockH">
		<table class = "listD">
		<tr class = "listDH">
			<td>Weight Catagory</td>
			<td><a>Weight</a></td>
		</tr>
		<tr>
			<td><a>OS Version</a></td>
			<td>
				<input class = "val" type="range" name="OSRange" min="0" max="100" value= "50" onchange="updateTextInput(this.value,'OSText');">                                                       
			</td>
			<td>
				<span class = "val" id="OSText"> </span>
			</td>
		</tr>
		<tr>
			<td><a>Blacklisted Applications</a></td>
			<td>
				<input class = "val" type="range" name="appRange" min="0" max="100" value= "50" onchange="updateTextInput(this.value,'blacklistedText');">                                                       
			</td>
			<td>
				<span class = "val" id="blacklistedText"> </span>
			</td>
		</tr>
		</table>
		
		<div class="more3">
		<span class = "val" id="apps"> %</span>
		</div>
		
		<div class="more2">
		  <a href="#">Save</a>
		</div>     
	  </div>
	  
	  <div class="blockH2">
		<h5>Application Catagories</h5>
	  </div>
	  <div class="blockH2">
		<table class = "listL">
		<tr class = "listLH">
			<td><a>Catagory</a></td>
			<td><a>Date Added</a></td>
			<td>Remove</td>
			<td></td>
		</tr>
		<tr>
			<td><a>Low Risk</a></td>
			<td>09/09/2013</td>
			<td><a>Remove</a></td>
			<td>
				<input class = "val" type="range" name="lowRange" min="0" max="100" value= "50" onchange="updateTextInput(this.value,'lowText');">                                                       
			</td>
			<td>
				<span class = "val" id="lowText"> </span>
			</td>
		</tr>
		<tr>
			<td><a>Medium Risk</a></td>
			<td>09/09/2013</td>
			<td><a>Remove</a></td>
			<td>
				<input class = "val" type="range" name="medRange" min="0" max="100" value= "50" onchange="updateTextInput(this.value,'medText');"> 
			</td>
			<td>
				<span class = "val" id="medText"> </span>
			</td>
		</tr>
		<tr>
			<td><a>High Risk</a></td>
			<td>09/09/2013</td>
			<td><a>Remove</a></td>
			<td>
				<input class = "val" type="range" name="highRange" min="0" max="100" value= "50" onchange="updateTextInput(this.value,'highText');">                                                       
			</td>
			<td>
				<span class = "val" id="highText"> </span>
			</td>
		</tr>
		<tr>
			<td><a>Blocked</a></td>
			<td>09/09/2013</td>
			<td><a>Remove</a></td>
			<td>
				<input class = "val" type="range" name="blockRange" min="0" max="100" value= "50" onchange="updateTextInput(this.value,'blockText');">                                                       
			</td>
			<td>
				<span class = "val" id="blockText"> </span>
			</td>
		</tr>
		</table>
		
		<div class="more3">
		<span class = "val" id="apps"> %</span>
		</div>
		
		<div class="more2">
		  <a href="#">Save</a>
		</div>     
	  </div>
	  
	  <div class="blockH2">
		<h5>OS version</h5>
	  </div>
	  <div class="blockH2">
		<table class = "listL">
		<tr class = "listLH">
			<td></td>
			<td>Version</td>
			<td></td>
		</tr>
		<tr>
			<td>Older</td>
			<td>
				<input class = "val" type="range" name="versionRange" min="0" max="100" value= "50" onchange="updateTextInput(this.value,'versionText');">                                                       
			</td>
			<td>
				<span class = "val" id="versionText"> </span>
			</td>
			<td>Newer</td>
		</tr>
		<tr>
			<td><a>Social</a></td>
			<td>09/09/2013</td>
		</tr>
		</table>
		
		<div class="more3">
		<span class = "val" id="apps"> %</span>
		</div>
		
		<div class="more2">
		  <a href="#">Save</a>
		</div>     
	  </div>
	  
	  <div class="blockH2">
		<h5>BlackListed Applications</h5>
	  </div>
	  <div class="blockH2">
	  
		<table class = "listL">
		<tr class = "listLH">
			<td><a>Catagory</a></td>
			<td><a>Date Added</a></td>
			<td>Remove</td>
			<td></td>
		</tr>
		<tr>
			<td><a>Social</a></td>
			<td>09/09/2013</td>
			<td><a>Remove</a></td>
			<td>
				<input class = "val" type="range" name="appRange" min="0" max="100" value= "50" onchange="updateTextInput(this.value,'appText');">                                                       
				<span class = "val" id="appText"> </span>
			</td>
		</tr>
		<tr>
			<td><a>File Hosting</a></td>
			<td>09/09/2013</td>
			<td><a>Remove</a></td>
			<td>
				<input class = "val" type="range" name="app2Range" min="0" max="100" value= "50" onchange="updateTextInput(this.value,'app2Text');">                                                       
			</td>
			<td>
				<span class = "val" id="app2Text"> </span>
			</td>
		</tr>
		</table>
		
		<div class="more3">
		<span class = "val" id="apps"> %</span>
		</div>
		
		<div class="more2">
		  <a href="#">Save</a>
		</div>   
		
	  </div>
	  <div class="blockH">
		<h5>Scan Settings</h5>
	  </div>
	  <div class="blockH">
		
		<h5>Anti-Virus Scan interval</h5></br>
		
		<table class = "listD">
		<tr>
			<td>Seconds</td>
			<td>Minutes</td>
			<td>Hours</td>
			<td>Days</td>
		</tr>
		<tr>
			<td><input type = "number" class = "val" id="seconds"></input></td>
			<td><input type = "number" class = "val" id="minutes"></input></td>
			<td><input type = "number" class = "val" id="hours"> </input></td>
			<td><input type = "number" class = "val" id="days"> </input></td>
		</tr>
		</table>

		<div class="more2">
		  <a href="#">Save</a>
		</div>     
	  </div>
</div><!--close site_content--> 
<div id="content_grey">
	<div class="content_grey_container_box">
		<p> Website by Lux in Tenebris student group from the <a href = "https://www.up.ac.za">Univercity of Pretoria</a>.
		Supported by <a href = "https://www.mwrinfosecurity.com">MWR InfoSecurity</a>.</p>
	</div><!--close content_grey_container_box-->
</div><!--close content_grey-->   
 
</div><!--close main-->
  
</body>
</html>
